{% extends "base.html" %}

{% block content %}
<h1>Register</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }} <br/>
            {{ form.username(size=32) }} 
            {% for error in form.username.errors %}
            <br/><span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.email.label }} <br/>
            {{ form.email(size=64) }}
            {% for error in form.email.errors %}
            <br/><span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.password.label }} <br/>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
            <br/><span class="error">[{{ error }}]</span>
            {% endfor %}
        <div>
            {{ form.password2.label }} <br/>
            {{ form.password2(size=32) }}
            {% for error in form.password2.errors %}
            <br/><span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}
