{% extends "base.html" %}

{% block content %}
<div class="user">
    {{ user.username }}
</div>
<div>
    {% if user.bio %}
    <div><strong>About Me:</strong> {{ user.bio }}</div>
    {% endif %}
    {% if user.last_active %}
    <div><strong>Last Logon:</strong> {{ user.last_active }}</div>
    {% endif %}
</div>
{% if user == current_user %}
<p><a href="{{ url_for('user.edit_profile') }}">Edit profile</a></p>
{% endif %}
{% endblock %}
