html {
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

form div {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 0rem;
    padding-bottom: 0.5rem;
}

table {
    width: 100%;
    margin: 0.15rem;
    border-collapse: collapse;
}

thead tr,
table .head {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#header {
    display: flex;
    justify-content: space-around;
}

#menu {
    display: flex;
    /*justify-content: space-around;*/
    justify-content: flex-end;
    flex: 2;
}

#logo {
    width: 25rem;
    text-align: center;
    margin: 0 auto;
    display: flex;
}

#logo-image {
    height: 4rem;
    width: 4rem;
    padding: 0rem;
    margin-left: 1rem;
}

.header-section {
    /*border: 1px solid #000;*/
    padding: 0.5rem;
    font-size: 1.4rem;
}

.header-item {
    padding: 1rem;
}

.page {
    width: 66%;
    margin: 0 auto;
}

.underbar {
    margin-bottom: 1rem;
    border-bottom: 1px solid black;
}

.overbar {
    margin: 1.5rem;
    border-top: 1px solid black;
}

.error {
    color: red;
}

.user {
    border-radius: 2rem;
    color: #fff;
    background-color: #800080;
    padding: 0.75rem;
    font-size: 1.4rem;
}

.error-message {
    font-size: 1.4rem;
}

.shaded {
    background-color: #E8E8E8;
}

.spacer {
    background-color: none;
    height: 1rem;
}

.clause {
    font-size: 0.75rem;
}

#header input[type="checkbox"] {
    display: none;
}

.toggle-label {
    cursor: pointer;
}

.collapsed {
    display: none;
    position: absolute;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.toggle:checked + .collapsed {
    display: block;
}

.submenu {
    text-align: left;
}

.toggle-label::after {
    content: " ▾";
}

#header a {
    color: black;
}

#header label:hover {
    text-decoration: underline;
}

.edit {
    display: none;
}

#to-notes {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
    height: 91vh;
    justify-content: space-between;
}

footer {
    width: 95%;
    display: flex;
    flex-direction: row;
}

footer * {
    padding-right: 2rem;
}

.footer-item {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.flashed {
    list-style-type: none;
}

.flashed .search {
    color: red;
    font-size: 1.25rem;
}

.logo {
    height: 1.4rem;
    width: 1.4rem;
}
