{% extends "base.html" %}

{% block content %}
<h1>About</h1>

<h3>Who</h3>
<p>
    Hi, I'm Ian.
</p>

<h3>What</h3>
<p>
    It's a fantasy hockey website because yahoo couldn't do some dumb stuff the friends and I wanted
</p>

<h3>Where</h3>
<p>
    Uhh ... idk. I'm building this at my desk.
    It'll be launched ... somewhere?
</p>

<h3>When</h3>
<p>
    I don't know if this is relevant, but it's one of the standard question words.
    Starting late 2022 after we realized yahoo can't change league scoring without applying it retroactively
</p>

<h3>Why</h3>
<p>
    Pure stupidity.
    Have you never wanted your fantasy league to randomize scoring every week?
    No?
    Well, we wanted to try.
    Yahoo can't do that
</p>

<h3>How</h3>
<ul>
    <li>python</li>
    <li>flask</li>
    <li>jinja</li>
    <li>sqlalchemy</li>
    <li>a sprinkling of javascript</li>
</ul>
<p>
    With thanks to Miguel Grinberg and his
    <a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world" target="_blank">
        flask megatutorial.
    </a>
    It was a great place to start from, and a lot of user management comes directly from there.
    Beyond that, it quickly diverged.
</p>

<h3>Limits</h3>
<p>
    It's all incredibly unfinished
</p>

{% endblock %}
