<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>
        {% if title %}
        {{ title }} - 
        {% endif %}
        {% if name %}
        {{ name }}
        {% else %}
        Fantasy
        {% endif %}
    </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/dice.svg') }}"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>
    {% if css %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/' + css) }}"/>
    {% endif %}
</head>
<body>
    <div id="header" class="underbar">
        <a href="/" id="logo" class="header-section">
            <img id="logo-image" src="{{ url_for('static', filename='img/dice.svg') }}"> 
            <div class="header-item">
                {% if name %}
                    {{ name }}
                {% else %}
                    Fantasy
                {% endif %}
            </div>
        </a>
        <div id="menu" class="header-section">
            <a class="header-item" href="{{ url_for('main.index') }}">Home</a>
            {% if g.search_form %}
            <div  class="header-item submenu">
                <label for="search" class="toggle-label">Search</label>
                <input id="search" class="toggle" type="checkbox">
                <div class="shaded collapsed">
                    <form id="search-form" method="get" action="{{ url_for('main.search_route') }}">
                        {{ g.search_form.search(size=64) }}
                    </form>
                </div>
            </div>
            {% endif %}
            <div class="header-item submenu">
                <label for="interactive" class="toggle-label">Sample Dropdown</label>
                <input id="interactive" class="toggle" type="checkbox">
                <div class="shaded collapsed">
                    <a href="{{ url_for('main.index') }}">Index</a>
                </div>
            </div>
            {% if current_user.is_anonymous %}
            <a class="header-item" href="{{ url_for('user.login') }}">Login</a>
            <a class="header-item" href="{{ url_for('user.register') }}">Register</a>
            {% else %}
            <a class="header-item" href="{{ url_for('user.logout') }}">Logout</a>
            <a class="header-item" href="{{ url_for('user.user', username=current_user.username) }}">
                <span class="user">{{current_user.username}}</span>
            </a>
            {% endif %}
        </div>
    </div>
    <div class="main">
        <div class="page">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul class="flashed">
                {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>

        <footer class="overbar">
            <div class="footer-item">
                <div>Created by Ian</div>
                <a href="//gitlab.com/ian_g/fantasy" target="_blank">Site source</a>
            </div>
            <div class="footer-item">
                <a href="{{ url_for('main.about') }}">About</a>
            </div>
        </footer>
    </div>
</body>
</html>
